body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-image: url('main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

html {
    height: 100%;
}

header {
    display: flex;
    justify-content: center; /* 新增 */
    align-items: center; /* 新增 */
    width: 100%;
    padding: 20px;
    background: transparent;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-container {
    margin-right: 400px;  /* 给左边的圆形头像添加右边距 */
}

nav {
    margin-left: 400px;  /* 给右边的导航链接添加左边距 */
}

.logo-container img {
    border-radius: 50%;  
    height: 50px;
    width: 50px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: underline; /* 添加下划线 */
    color: white; /* 文本颜色设置为白色 */
    font-style: italic; /* 字体设置为斜体 */
}



